@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main {
    background-image: url("assets/images/backg.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1500px, 100vw  );
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    width: 70vw;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
    /* justify-content: center; */
    height: 60px;
}

nav img {
    height: 120px;
    position: relative;
    z-index: 100;
}

nav button {
    position: relative;
    z-index: 1000;
}

.hero {
    font-family: "Martel Sans", serif;
    /* font-weight: 1000; */
    /* font-style: normal; */
    height: 70%;
    top: 45px;
    /* background-color: red; */
    color: white;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 5px;   */
    /* background-color: aqua; */
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

.hero> :nth-child(1){
    font-weight:bolder;
    font-size: 45px;
}
.hero> :nth-child(2){
    font-size: 18px;
    font-weight: 200;
}
.hero>  :nth-child(3){
    font-size: 18px;
    font-weight: 200;
}
/* input{
    left: 0;
    width: 45%;
    height: 50%;
} */
/* input ::placeholder{

} */
/* .start{
    position: absolute;
    margin-top: 0;
    width: 30%;
    margin-left: 5px;
    height: 8%;
} */
