@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main {
    background-image: url("assets/images/backg.jpg");
    height: 450px;
    position: relative;
    background-position: center center;
    background-size: max(1500px, 100vw  );
    background-repeat: no-repeat;
}

.main .box {
    height: 450px;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
nav {
    display: flex;
    align-items: center;
    width: 70vw;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
    /* justify-content: center; */
    height: 50px;
    /* background-color: aqua; */
}

nav img {
    height: 120px;
    position: relative;
    z-index: 100;
}

nav button {
    position: relative;
    z-index: 1000;
}

.hero {
    font-family: "Martel Sans", serif;
    /* font-weight: 1000; */
    /* font-style: normal; */
    height: 300px;
    /* top: 45px; */
    /* background-color: red; */
    color: white;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    padding-left: 0px;
    /* padding: 0 23px; */
    text-align: center;
    gap: 5px;    
    /* background-color: aqua; */
    margin-bottom: 100px;
}


.hero> :nth-child(1){
    font-family: Poppins;
    font-weight: 900;
    font-size: 35px;
}
.hero> :nth-child(2){
    font-size: 18px;
    font-weight: 200;
}
.hero>  :nth-child(3){
    font-size: 18px;
    font-weight: 200;
    /* color: aqua; */
}

.seperation{
    height: 7px;
    background-color:rgb(50, 47, 47);
    border-radius: 2px;
}
.btn{
    padding: 6px 7px;
    font-weight: bolder;
    background-color: rgba(23, 23, 23, 0.8);
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid grey;
}
.started{
    background-color: red;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px;
}
.main input{
    font-size: 10px;
    padding: 9px 47px 9px 19px;
    color: white;
    /* font-weight: 900; */
    border-radius: 5px; 
    background-color: rgba(23, 23, 23, 0.8);
    border: 1px solid  rgba(73, 72, 72, 0.8);;
}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.nav_btn{
    display: flex;
    gap: 10px;
}
#sign{
    font-weight: 200;
}
.sn{
    background-color: red;
    border: 1px;
}


.first> div{
    margin: 25px 20px;
}


.cards {
    width: 80vw;
    height: 60vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    gap: 40px;
    /* align-items: center; */
    /* justify-content: center; */
    left: 100px;
    margin: auto;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    background-color: aqua;
}
.card1 img{
    width: 150px;
    height: ;
}

/* .card:hover {
    transform: scale(1.05);
} */

/* .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
