@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main {
    background-image: url("assets/images/backg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: max(1500px, 100vw  );
    background-repeat: no-repeat;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
nav {
    display: flex;
    align-items: center;
    width: 70vw;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
    /* justify-content: center; */
    height: 60px;
    background-color: aqua;
}

nav img {
    height: 120px;
    position: relative;
    z-index: 100;
}

nav button {
    position: relative;
    z-index: 1000;
}

.hero {
    font-family: "Martel Sans", serif;
    /* font-weight: 1000; */
    /* font-style: normal; */
    height: 50%;
    /* top: 45px; */
    /* background-color: red; */
    color: white;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    padding-left: 0px;
    text-align: center;
    /* gap: 5px;   */
    background-color: aqua;
}


.hero> :nth-child(1){
    font-weight:bolder;
    font-size: 40px;
}
.hero> :nth-child(2){
    font-size: 18px;
    font-weight: 200;
}
.hero>  :nth-child(3){
    font-size: 18px;
    font-weight: 200;
    color: aqua;
}
.seperation{
    height: 10px;
    background-color: blue;
    border-radius: 2px;

}